/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  @apply font-primary;
}

body {
  height: 100%;
  width: 100%;
  background: #1A1C24;
}
